@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Nunito+Sans:wght@200&family=Poppins:wght@200&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.container {
    margin: 0px auto;
    width: 80vw;
}

.rowFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: #000;
    font-family: "IBM Plex Serif";
    font-size: 2rem;
}

nav .menu {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

nav .menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: "Nunito Sans";
    transition: all 0.5s ease-in-out;
}

nav .menu li a:hover {
    color: #c31815;
}

.header {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.header-img {
    overflow: hidden;
}

.header-img img {
    transition: all 0.5s ease-in-out;
}

.header-img:hover img {
    transform: scale(1.3);
}

.header-img img {
    max-width: 100%;
}

.header-info {
    padding: 20px;
    width: 50%;
}

.header-info span {
    color: #c31815;
}

.header-info h1 {
    margin: 20px 0px;
    font-family: "IBM Plex Serif";
}

.header-info p {
    line-height: 1.8;
    font-family: Poppins;
}

header .header-news {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c31815;
    padding: 5px;
}
header .header-news button {
    background-color: #fff;
    border: 1px solid #fff;
    margin-right: 30px;
    color: #c31815;
    padding: 10px;
    font-family: Poppins;
    animation: anime 1s ease-in-out 2s infinite forwards;
}
header .header-news p {
    color: #fff;
    font-family: Poppins;
}

/* start comment section*/
.comment,
.topic {
    padding: 30px 0;
    padding-bottom: 0px;
    margin: 20px auto;
    margin-bottom: 0px;
}
.col-9 {
    width: 60%;
}
.commentDetails {
    background-color: #f7f4f4;
    padding: 25px;
    border-radius: 4px;
    border-top: 4px solid #2a2a2a;
}
.commentDetails p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #000;
    font-weight: 500;
}
.author {
    color: #2a2a2a;
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin: 10px 0;
}
.newsLink {
    text-decoration-color: #2a2a2a;
    color: #2a2a2a;
    font-weight: bold;
    transition: 0.5s;
}
.newsLink:hover {
    color: #c31815;
    text-decoration-color: #c31815;
    font-weight: bold;
}
.subscribBtn {
    background-color: #c31815;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 15px 25px;
    margin: 25px 0;
    cursor: pointer;
    transition: 0.5s;
}
.subscribBtn:hover,
.sendBtn:hover {
    background-color: #9b0d0b;
    box-shadow: 0 2px 15px rgb(0 0 0 / 9%);
}
.subscribBtn i {
    margin-right: 10px;
    font-size: 1.3rem;
}
.tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px 0;
}
.tagBtn {
    background-color: #f6dddc;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    color: #c31815;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.tagBtn:hover {
    background-color: #c31815;
    color: #fff;
}
.formComment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f7f4f4;
    border-radius: 4px;
    padding: 10px 25px;
}

.sendBtn {
    background-color: #c31815;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.5s;
}

input[type="text"] {
    width: 80%;
    border: none;
    background-color: transparent;
}

input[type="text"]:focus {
    outline: none;
}

.userComment {
    margin: 30px 0;
}

.userComment h3 {
    font-size: 1.2rem;
}
.userComment p {
    font-size: 0.9rem;
    width: 50%;
    line-height: 1.7;
    font-weight: bold;
    margin: 10px 0;
}
.userComment span {
    color: #c31815;
}

/* Start topic Section */
.topic {
    margin-bottom: 50px;
}
.topic h2 {
    font-family: "IBM Plex Serif";
    font-size: 22px;
    margin: 15px auto;
}
.card {
    width: 220px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #f7f4f4;
}
.card img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card:hover {
    box-shadow: 0 2px 15px rgba(247, 246, 246, 0.05);
}
.card img:hover {
    transform: scale(1.1);
}
.card .body p {
    line-height: 1.7;
    padding: 0 15px;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 10px;
}
/*****  main Section ******/
.main {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.news {
    width: 70%;
}
.news h2 {
    background-color: #f1f2f3;
    padding: 15px;
    color: #2a2a2a;
    font-family: "Poppins";
}

.news .cards {
    display: flex;
    margin-top: 13px;
    justify-content: space-between;
}
.news .cards .card {
    width: 48%;
    background-color: #f1f2f3;
}
.news .cards .card .card-body {
    padding: 15px;
}
.news .cards .card .card-body h3 {
    color: #2a2a2a;
    font-family: "IBM Plex Serif";
}
.news .cards .card .card-body p {
    line-height: 1.5;
    margin-top: 10px;
    font-family: "Nunito Sans";
    font-size: 1rem;
}

.news .cards .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.news .cards .card:hover img {
    transform: scale(1.1);
}
.blogs {
    width: 25%;
}

.blogs h2 {
    background-color: #f1f2f3;
    padding: 15px;
    color: #2a2a2a;
    font-family: "Poppins";
}
.last-blogs {
    background-color: #f1f2f3;
    padding: 15px 0px 15px 15px;
    margin-top: 10px;
    height: 500px;
}

.last-blogs p {
    color: #2a2a2a;
    margin-bottom: 15px;
    font-family: "IBM Plex Serif";
    line-height: 115.38%;
}
/**** end main section ***/
/* End topic Section */
/* end comment  section*/



@keyframes anime {
    0% {
        color: #000;
        font-size: 1.5rem;
    }
    100% {
        color: red;
        font-size: 1.5rem;
    }
}
/* upper footer */


/*****  main Section ******/

  .news2 {
      width: 100%;
  }
  
  .news2 h2 {
      background-color: #f1f2f3;
      padding: 15px;
      color: #2a2a2a;
      font-family: "Poppins";
      width: 100%;
  }
  
  .news2 .cards {
      display: flex;
      margin-top: 13px;
      justify-content: space-between;
  }
  
  .news2 .cards .card {
      width: 30%;
      background-color: #f1f2f3;
  }
  
  .news2 .cards .card .card-body {
      padding: 15px;
  }
  
  .news2 .cards .card .card-body h3 {
      color: #2a2a2a;
      font-family: "IBM Plex Serif";
  }
  
  .news2 .cards .card .card-body p {
      line-height: 1.5;
      margin-top: 10px;
      font-family: "Nunito Sans";
      font-size: 1rem;
  }
  
  .news2 .cards .card img {
      max-width: 100%;
      height: 200px;
      object-fit: cover;
      transition: all 0.5s ease-in-out;
  }
  
  .news2 .cards .card:hover img {
      transform: scale(1.1);
  }
/* footer */
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #0e1e32;
    padding: 70px 0;

    width: 100%;
    margin-top: 50px;
}

.footer-col {
    width: 32%;
    padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links {
    text-align: center;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright {
    font-family: Poppins;
    font-size: 12px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: lightgray;
}

.about {
    margin-bottom: 10px;
}

.about a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    transition: all 0.3s ease;
}

.about a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-logo {
    text-align: center;
}

.newsTitleAndImg {
    position: relative;
    background-image: linear-gradient(#0e1e32 65%, transparent 50%);
    width: 100%;
    max-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.newsTitleAndImg::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0px;
    height: 8px;
    width: 75%;
    background-color: #c31815;
    animation: widthLine 1s ease-in-out;
}

.wrapTitleAndImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 60vh;
}

.newsTitle {
    margin: 50px 0 40px 0;
    color: #fff;
    width: 60%;
    font-size: 1.7rem;
    font-family: "IBM Plex Serif";
}

.newsImg {
    width: 100%;
    height: 60%;
    object-fit: cover;
    animation: popUp 1s ease-in-out;
}

.newsDescAndRecommended {
    margin-top: 40px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.newsDesc {
    width: 73%;
    font-size: 1.1rem;
    white-space: pre-line;
    font-family: "Nunito Sans";
    font-weight: 600;
    animation: moveLeft 1.5s ease-in-out;
}

.recommended {
    width: 25%;
    animation: moveRight 1.5s ease-in-out;
}

.imgAndDecsOfRecom {
    margin-top: 20px;
    background-color: #f7f4f4;
}

.titleReco {
    font-size: 1.2rem;
    font-weight: 900;
}

.recommended img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.decsOfRecom {
    font-family: "IBM Plex Serif";
    padding: 15px;
    padding-bottom: 50px;
}

.decsOfRecom:hover {
    color: #c31815;
    transition: color 0.3s linear;
}

@keyframes widthLine {
    0% {
        width: 0px;
    }
}

@keyframes popUp {
    25% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(1000px);
    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translate(-1000px);
    }
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    .container{
        width: 100vw;
    }
    
    .newsImg {
        height: 250px;
    }
    .newsTitle {
        margin: 30px 0 15px 0;
        width: 80%;
    }
    .wrap {
        flex-direction: column;
        align-items: flex-start;
    }
    .newsDesc {
        width: 100%;
    }
    .recommended {
        margin-top: 30px;
        width: 100%;
    }

    .col-9 {
        width: 100%;
        text-align: center;
    }
    .commentDetails p {
        font-size: 1.4rem;
        line-height: 1.8;
    }
    .author {
        font-size: 1.2rem;
    }
    .col-3 {
        display: none;
    }
    .userComment p {
        width: 100%;
        font-size: 1.3rem;
    }

    .card,
    .topic h2 {
        width: 100%;
        margin: 25px;
    }
    .topic h2 {
        font-size: 2rem;
    }
    .card .body p {
        font-size: 1.9rem;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    html {
        font-size: 14px;
    }

    .container{
        width: 100vw;
    }

    .newsImg {
        height: 250px;
    }
    .wrap {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .newsDesc {
        width: 65%;
    }
    .recommended {
        margin-top: 30px;
        width: 30%;
        margin-top: 0;
    }

    .col-9 {
        width: 100%;
        margin: 0 25px;
    }
    .commentDetails p {
        font-size: 1.4rem;
        line-height: 1.8;
    }
    .author {
        font-size: 1.2rem;
    }

    .col-3 {
        display: none;
    }
    .userComment p {
        width: 100%;
        font-size: 1.3rem;
    }

    .card,
    .topic h2 {
        width: 100%;
        margin: 25px;
    }
    .topic h2 {
        font-size: 2rem;
    }
    .card .body p {
        font-size: 1.9rem;
    }
}